{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>福袋監視</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<h4>今日のリンク</h4>
<ul>
  {% for discover in today_discover %}
    <li>
      <a href={% url 'viewer.discover' discover.id %}> {{ discover.name }}: {{ discover.time }}</a>
      <ul>
        {% for link in discover.links.all %}
          <li>
            <a href={{ link.link.abs_link }}>
              {{ link.link.name }}<br>
              {% if link.link.img_link %}
                <img src={{ link.link.img_link }}>
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          昨日より前のリンク
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <ul>
          {% for discover in new_discover %}
            <li><a href={% url 'viewer.discover' discover.id %}> {{ discover.name }}: {{ discover.time }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>